#article {
  max-width: $article_max_width;
  margin-top: $p2;
  margin-bottom: $p2;
  article {
    padding: $p1;
    padding-bottom: $p2;
    margin-bottom: $p2;
    background-color: #F6F6F6;
    ._title {
      padding-top: $normal;
      font-size: $p2;
    }
    ._sentence {
      h1 {
        font-size: $p1;
      }
      p {
        margin: 0;
        text-indent: $normal;
        font-size: $normal;
        line-height: $p1;
        letter-spacing: .065em;
      }
      .codepen {
        width: 100%;
        padding: $normal 0;
      }
    }
  }
}
//========================================================
// スクロールアニメーション
//========================================================
#article article{
  opacity: 0.0;
  animation: article_fadeIn 1.0s ease-in-out 0.8s 1 normal;
  animation-fill-mode: forwards;
  ._title {}
}

@keyframes article_fadeIn {
    0%    {
      opacity: 0.0;
      // transform: translate3d( 0, 60px, 0);
    }
    100%  {
      opacity: 1.0;
      // transform: translate3d( 0, 0, 0);
    }
}
@keyframes article_fadeOut {
    0%    {
      opacity: 1.0;
      // transform: translate3d( 0, 60px, 0);
    }
    100%  {
      opacity: 0.0;
      // transform: translate3d( 0, 0, 0);
    }
}

//========================================================
// extend class
//========================================================
.base_anime {}