//===============================================
// STYLE
//===============================================
header {
  background-color: $header_backgound;
  .header {
    padding: $normal;
    text-align: center;
    img {
      height: $p1;
      margin: 0 auto;
    }
  }
  .navigation {
    background-color: $header_backgound;
    padding: 1px;
    .btn {
      background-color: $header_backgound;
      color: $header_color;
    }
  }
  .progress {
    margin: 0;
    background-color: $header_backgound;
    .indeterminate {
      background-color: #0000ff;
      opacity: 0;
    }
  }
}