//===============================================
// COLOR SET
//===============================================
$header_backgound: #222;
$header_color: #EEE;

$footer_backgound: #333;
$footer_color: #999;

* {
  font-family: 'Open Sans', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
}