// @import "../libs/css/materialize.min.css";

//BASE SASS (.scss)
@import "./setting.scss";
@import "./zIndex.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./overlay.scss";

@import "./carousel.scss";
@import "./content.scss";
@import "./article_list.scss";
@import "./article.scss";
@import "./imagepop.scss";

// COMPONETS
@import "./components/_diviver_button.scss";
@import "./components/_loader.scss";

body {
  #overlay {visibility : hidden;}
  &.overlay {
    overflow: hidden; 
    #root { pointer-events: none; }
    #overlay {visibility : visible;}
  }
}
