@charset "UTF-8";
* {
  font-family: 'Open Sans', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'Lucida Sans Unicode', Arial, Verdana, sans-serif !important;
  -webkit-font-smoothing: antialiased; }

header {
  background-color: #222; }
  header .header {
    padding: 16px;
    padding: 1rem;
    text-align: center; }
    header .header img {
      height: 25.76px;
      height: 1.61rem;
      margin: 0 auto; }
  header .navigation {
    background-color: #222;
    padding: 1px; }
    header .navigation .btn {
      background-color: #222;
      color: #EEE; }
  header .progress {
    margin: 0;
    background-color: #222; }
    header .progress .indeterminate {
      background-color: #0000ff;
      opacity: 0; }

footer {
  padding: 10px;
  background-color: #444; }
  footer .footer {
    width: 100%;
    max-width: 980px; }
    footer .footer * {
      margin-bottom: 15px;
      list-style: none; }
    footer .footer .footer_item {
      padding: 0 25px; }
      footer .footer .footer_item h5 {
        border-bottom: 1px solid #666;
        padding: 16px 0; }
  footer .legal {
    text-align: right; }
    footer .legal a {
      padding: 0 20px; }
  footer * {
    color: #ccc; }

#carousel {
  overflow: hidden;
  opacity: 0;
  -webkit-animation: fadeIn 1.0s ease-in-out 0.3s 1 normal;
          animation: fadeIn 1.0s ease-in-out 0.3s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.9; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.9; } }

#article_list {
  max-width: 980px; }
  #article_list article {
    padding: 9.937px;
    padding: 0.62112rem; }
    #article_list article .waves-effect {
      width: 100%; }
    #article_list article ._image {
      width: 100%;
      height: 194px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }
    #article_list article ._title {
      padding-top: 16px;
      padding-top: 1rem;
      font-size: 41.473px;
      font-size: 2.5921rem; }
    #article_list article ._date {
      text-align: right; }
    #article_list article ._summary {
      padding-top: 16px;
      padding-top: 1rem; }
      #article_list article ._summary p {
        margin: 0;
        text-indent: 16px;
        text-indent: 1rem;
        line-height: 25.76px;
        line-height: 1.61rem; }

#article_list article {
  -webkit-animation: article_list_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: article_list_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0.0;
  /*
    &.invisible {
      transition: all 1.0s ease;
      opacity: 0.0;
      transform: translate3d( 0, 60px, 0);
      // animation: article_list_fadeIn 1.0s ease-in-out 1.0s 1 normal;
    }

    &.visible {
      transition: all 1.0s ease;
      opacity: 1.0;
      transform: translate3d( 0, 0, 0);
      // animation: article_list_fadeOut 1.0s ease-in-out 1.0s 1 normal;
    }
  */ }
  #article_list article.invisible {
    visibility: visible; }

#article_list article:nth-child(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s; }

#article_list article:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }

#article_list article:nth-child(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s; }

#article_list article:nth-child(4) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-transition-delay: 2s;
          transition-delay: 2s; }

#article_list article:nth-child(5) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s; }

#article_list article:nth-child(6) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-transition-delay: 3s;
          transition-delay: 3s; }

#article_list article:nth-child(7) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-transition-delay: 3.5s;
          transition-delay: 3.5s; }

#article_list article:nth-child(8) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-transition-delay: 4s;
          transition-delay: 4s; }

#article_list article:nth-child(9) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  -webkit-transition-delay: 4.5s;
          transition-delay: 4.5s; }

#article_list article:nth-child(10) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-transition-delay: 5s;
          transition-delay: 5s; }

@-webkit-keyframes article_list_fadeIn {
  0% {
    opacity: 0.0;
    -webkit-transform: translate3d(0, 60px, 0);
            transform: translate3d(0, 60px, 0); }
  100% {
    opacity: 1.0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes article_list_fadeIn {
  0% {
    opacity: 0.0;
    -webkit-transform: translate3d(0, 60px, 0);
            transform: translate3d(0, 60px, 0); }
  100% {
    opacity: 1.0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

#article {
  max-width: 720px;
  margin-bottom: 0; }
  #article article {
    padding: 25.76px;
    padding: 1.61rem;
    padding-bottom: 41.473px;
    padding-bottom: 2.5921rem;
    margin-bottom: 41.473px;
    margin-bottom: 2.5921rem;
    background-color: #F6F6F6; }
    #article article ._title {
      padding-top: 16px;
      padding-top: 1rem;
      font-size: 41.473px;
      font-size: 2.5921rem; }
    #article article ._sentence h1 {
      font-size: 25.76px;
      font-size: 1.61rem; }
    #article article ._sentence p {
      margin: 0;
      text-indent: 16px;
      text-indent: 1rem;
      font-size: 16px;
      font-size: 1rem;
      line-height: 25.76px;
      line-height: 1.61rem;
      letter-spacing: .065em; }
    #article article ._sentence .codepen {
      width: 100%;
      padding: 16px 0;
      padding: 1rem 0; }

#article {
  overflow: hidden; }
  #article article {
    opacity: 0.0;
    -webkit-animation: article_fadeIn 1.0s ease-in-out 0.8s 1 normal;
            animation: article_fadeIn 1.0s ease-in-out 0.8s 1 normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
  #article.enter {
    opacity: 1.0;
    max-height: 4000px;
    -webkit-transition: all 1.0s ease;
    transition: all 1.0s ease; }
  #article.leave {
    opacity: 0.0;
    max-height: 0;
    -webkit-transition: all 1.0s ease;
    transition: all 1.0s ease; }

@-webkit-keyframes article_fadeIn {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }

@keyframes article_fadeIn {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }

@-webkit-keyframes article_fadeOut {
  0% {
    opacity: 1.0; }
  100% {
    opacity: 0.0; } }

@keyframes article_fadeOut {
  0% {
    opacity: 1.0; }
  100% {
    opacity: 0.0; } }

#imagepop {
  padding-bottom: 66.772px;
  padding-bottom: 4.17328rem; }
  #imagepop .pop {
    position: relative; }
    #imagepop .pop img {
      width: 100%;
      background-color: #000; }
    #imagepop .pop article {
      position: absolute;
      top: 0;
      color: #ffffff; }
      #imagepop .pop article h3 {
        font-size: 25.76px;
        font-size: 1.61rem; }
      #imagepop .pop article p {
        margin: 0;
        font-size: 16px;
        font-size: 1rem;
        line-height: 25.76px;
        line-height: 1.61rem;
        letter-spacing: .065em; }
      #imagepop .pop article.right {
        left: 60%;
        padding: 16px;
        padding: 1rem; }
      #imagepop .pop article.left {
        right: 60%;
        padding: 16px;
        padding: 1rem; }
      #imagepop .pop article.top {
        top: 0%;
        padding: 25.76px;
        padding: 1.61rem; }

#imagepop .pop:nth-child(1) {
  -webkit-animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s; }

#imagepop .pop:nth-child(2) {
  -webkit-animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }

#imagepop .pop:nth-child(3) {
  -webkit-animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s; }

#imagepop .pop:nth-child(4) {
  -webkit-animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-transition-delay: 2s;
          transition-delay: 2s; }

#imagepop .pop:nth-child(5) {
  -webkit-animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s; }

#imagepop .pop:nth-child(6) {
  -webkit-animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-transition-delay: 3s;
          transition-delay: 3s; }

#imagepop .pop:nth-child(7) {
  -webkit-animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-transition-delay: 3.5s;
          transition-delay: 3.5s; }

#imagepop .pop:nth-child(8) {
  -webkit-animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-transition-delay: 4s;
          transition-delay: 4s; }

#imagepop .pop:nth-child(9) {
  -webkit-animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: l_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  -webkit-transition-delay: 4.5s;
          transition-delay: 4.5s; }

#imagepop .pop:nth-child(10) {
  -webkit-animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
          animation: r_imagepop_fadeIn 1.0s ease-in-out 1.0s 1 normal;
  opacity: 0.0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-transition-delay: 5s;
          transition-delay: 5s; }

#imagepop .pop img.invisible {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1" /><feFuncG type="linear" slope="1" /><feFuncB type="linear" slope="1" /></feComponentTransfer><feGaussianBlur stdDeviation="5" /></filter></svg>#filter');
  -webkit-filter: brightness(1) blur(5px);
          filter: brightness(1) blur(5px);
  -webkit-transition: all 1.0s ease;
  transition: all 1.0s ease; }

#imagepop .pop img.visible {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.8" /><feFuncG type="linear" slope="0.8" /><feFuncB type="linear" slope="0.8" /></feComponentTransfer><feGaussianBlur stdDeviation="0" /></filter></svg>#filter');
  -webkit-filter: brightness(0.8) blur(0px);
          filter: brightness(0.8) blur(0px);
  -webkit-transition: all 1.0s ease;
  transition: all 1.0s ease; }

#imagepop .pop article.invisible h3, #imagepop .pop article.invisible p {
  opacity: 0.0;
  -webkit-transition: all 1.0s ease;
  transition: all 1.0s ease; }

#imagepop .pop article.visible h3, #imagepop .pop article.visible p {
  opacity: 1.0;
  -webkit-transition: all 1.0s ease;
  transition: all 1.0s ease; }

#imagepop .invisible {
  visibility: visible; }

@-webkit-keyframes r_imagepop_fadeIn {
  0% {
    opacity: 0.0;
    -webkit-transform: translate3d(30px, 0, 0);
            transform: translate3d(30px, 0, 0); }
  100% {
    opacity: 1.0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes r_imagepop_fadeIn {
  0% {
    opacity: 0.0;
    -webkit-transform: translate3d(30px, 0, 0);
            transform: translate3d(30px, 0, 0); }
  100% {
    opacity: 1.0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@-webkit-keyframes l_imagepop_fadeIn {
  0% {
    opacity: 0.0;
    -webkit-transform: translate3d(-30px, 0, 0);
            transform: translate3d(-30px, 0, 0); }
  100% {
    opacity: 1.0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes l_imagepop_fadeIn {
  0% {
    opacity: 0.0;
    -webkit-transform: translate3d(-30px, 0, 0);
            transform: translate3d(-30px, 0, 0); }
  100% {
    opacity: 1.0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.diviver {
  position: relative;
  width: 100%;
  opacity: 0;
  -webkit-animation: diviver_button_fadeIn 1.0s ease-in-out 2.0s 1 normal;
          animation: diviver_button_fadeIn 1.0s ease-in-out 2.0s 1 normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 1; }
  .diviver .diviver_button1, .diviver .diviver_button2 {
    position: absolute;
    top: -32px;
    left: 12.5%;
    margin-left: -32px;
    width: 64px;
    height: 64px;
    border-radius: 100%; }
    .diviver .diviver_button1 img, .diviver .diviver_button2 img {
      width: 64px;
      height: 64px;
      padding: 16px; }
  .diviver .diviver_button1 {
    background-color: #2bf28e; }
  .diviver .diviver_button2 {
    background-color: #F66F6F; }
  .diviver.enter {
    -webkit-transition: all 2.0s ease;
    transition: all 2.0s ease; }
    .diviver.enter .diviver_button1 {
      opacity: 0; }
    .diviver.enter .diviver_button2 {
      opacity: 1.0; }
  .diviver.leave {
    -webkit-transition: all 2.0s ease;
    transition: all 2.0s ease; }
    .diviver.leave .diviver_button1 {
      opacity: 1.0; }
    .diviver.leave .diviver_button2 {
      opacity: 0; }

@-webkit-keyframes diviver_button_fadeIn {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }

@keyframes diviver_button_fadeIn {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
